<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>GWHandlebars</title>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
</head>

<body>
 {{{body}}}

 <script>
  function reset(){
    location.href = '/reset';
  }
  function greetedPeeps(){
    location.href = '/greetingz';
  }
  function main(){
    location.href = '/';
  }
 </script>
</body>
</html>
